.page-enter {
	opacity: 0;
}

.page-enter-active, .page-enter-active ~ div {
	opacity: 1;
}

.page-exit-active, .page-exit-active ~ div {
	opacity: 0;
}


.page-enter > #transformLeft {
	transform: translate(-100%, 0);
}

.page-enter-active > #transformLeft {
	transform: translate(0, 0);
}

.page--prev.page-enter > #transformLeft {
	transform: translate(100%, 0);
}

.page--prev.page-enter-active > #transformLeft {
	transform: translate(0, 0);
}

.page--prev.page-exit > #transformRight {
	transform: translate(100%, 0);
}
