.page-enter {
	opacity: 0;
}

.page-enter-active, .page-enter-active ~ div {
	opacity: 1;
}

.page-exit-active, .page-exit-active ~ div {
	opacity: 0;
}

#transformLeft, #transformRight {
	transition: 1s transform ease-in-out;
}

.page-enter #transformLeft {
	transform: translate(-100%, 0);
}

.page-enter-active #transformLeft {
	transform: translate(0, 0);
}

.page--prev.page-enter #transformLeft {
	transform: translate(100%, 0);
}

.page--prev.page-enter-active #transformLeft {
	transform: translate(0, 0);
}


.page-enter #transformRight {
	transform: translate(100%, 0);
}

.page-enter-active #transformRight {
	transform: translate(0, 0);
}
