.buttonWrapper {
	height: 36px;
	width: 188px;
	margin-right: 9%;
	box-sizing: border-box;
	position: relative;
	text-decoration: none;

	&::before, &::after {
		box-sizing: inherit;
		content: '';
		position: absolute;
		border: 2px solid transparent;
	}

	&::before {
		width: 12px;
		height: 12px;
		top: 0;
		left: 0;
		border-top-color: $black;
		border-left-color: $black;
	}
	
	&::after {
		height: 12px;
		width: 12px;
		right: 0;
		bottom: 0;
		border-bottom-color: $black;
		border-right-color: $black;
	}

	&:hover::before, &:hover::after {
		transition:
			width .3s ease-out,
			height .3s ease-out;
		width: 100%;
		height: 100%;
	}
}

.content {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		box-sizing: inherit;
		content: '';
		position: absolute;
		width: 0;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $black;
		transition: .3s ease-in-out width;
	}

	&Clicked::before {
		width: 100%;
	}
}

.text {
	@include ButtonMediumBlack;
	transition: .3s ease-in-out color;
	z-index: 1;

	&Clicked {
		@include ButtonMediumWhite;
	}
}
