.leftWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: $leftWidth;
	height: 100%;
	margin-left: 4.7%;
	z-index: 2;
}

.icon {
	height: 72px;
	width: 72px;
	margin-top: 7%;

	& > svg {
		width: 43px !important;
		height: 43px;
		padding: 0 14px;
	}
}

.project {
	object-fit: cover;
	width: 75%;
	height: 72%;
	position: absolute;
	margin: 6.5% auto auto 18.8%;
}

.infoWrapper {
	margin-bottom: 80px;
}

.skill {
	height: 30px;
	width: 30px !important;
	margin: 15px auto 15px 20px;
	color: $lightGrey;

	&Wrapper {
		display: flex;
		flex-direction: column;
	}
}

.title {
	@include HeadingMainMediumWhite;
	margin: 2% auto 3% 20px;
}

.description {
	@include BodyParagraphRegularWhite;
	margin-left: 20px;
}
