.icon {
	height: 72px;
	width: 72px;
	margin-left: 4%;
	margin-top: 3%;

	& > svg {
		width: 43px !important;
		height: 43px;
		padding: 0 14px;
	}
}

.project {
	object-fit: cover;
	max-width: 75%;
	height: fit-content;
	margin: 6.5% auto auto 8.8%;
}
