
.icon {
	color: $white;
	height: 16px;
	width: 16px !important;

	&Black {
		color: $black;
	}

	&Wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		transition: .3s background-color ease-out;

		&:hover {
			background-color: rgba($white, .08);
		}

		&Clicked, &:active {
			background-color: rgba($white, .24);
		}

		&Black {
			&:hover {
				background-color: rgba($black, .08);
			}

			&Clicked, &:active {
				background-color: rgba($black, .24);
			}
		}
	}
}
